<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.Azure.Amqp" version="2.0.3" targetFramework="net46" />
  <package id="Microsoft.Azure.Devices" version="1.2.3" targetFramework="net46" />
  <package id="Microsoft.Azure.Devices.Shared" version="1.0.7" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Azure.WebJobs" version="2.0.0-beta2-10515" targetFramework="net451" />
  <package id="Microsoft.Azure.WebJobs.Core" version="2.0.0-beta2-10515" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net46" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="net46" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="net46" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="net46" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="net46" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net451" />
  <package id="Validation" version="2.2.8" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="7.2.1" targetFramework="net451" />
</packages>